/* General body styling */
body {
  background-color: black;
  color: white; /* Setting text color globally */
  font-family: "Libre Baskerville", serif;
}

/* Heading (h1) styling */
h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center; /* Align heading centrally */
}

/* Centered container div */
div {
  text-align: center;
  width: 50%;
  margin: 0 auto; /* Centering using auto for both left and right */
}

/* Image styling */
img {
  border: 5px solid white;
  width: 100%;
  display: block; /* Ensures no extra space below image */
}
